.productCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.productCard .productCardItem {
  height: 440px;
  width: 280px;
  border: 1px solid #a27b5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  transition: all ease 0.3s;
  box-sizing: border-box;
}

.productCard .productCardItem:hover {
  border: none;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
}

.productCard .productCardItem .productCardImg {
  width: 260px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.productCard .productCardItem .productCardImg img {
  width: 100%;
}

.productCard .productCardItem .productCardImg .productImgHover {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  border: 1px solid #383838;
  background-color: transparent;
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #383838;
  display: none;
  animation: mymove_productimghover 0.3s;
}

.productCard .productCardItem:hover > .productCardImg .productImgHover {
  display: block;
}

.productCard .productCardItem .productCardImg .productImgHover:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f1ecec;
}

@keyframes mymove_productimghover {
  0% {right: -20px;}
  100% {right: 0;}
}

.productCard .productCardItem .productCardImg .addToCart {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #383838;
  font-weight: 600;
  display: none;
  animation: mymove_addtocart 0.3s;
}

.productCard .productCardItem:hover > .productCardImg .addToCart {
  display: flex;
}

.productCard .productCardItem .productCardImg .addToCart:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f1ecec;
}

@keyframes mymove_addtocart {
  0% {bottom: -20px;}
  100% {bottom: 0;}
}

.productCard .productCardItem .productCardImg .addToCart span {
  background-color: transparent;
  padding-left: 10px;
}

.productCard .productCardItem .productDescription {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productCard .productCardItem .productDescription .name {
  font-size: 15px;
  font-weight: 600;
  color: #383838;
}

.productCard .productCardItem .productDescription .price {
  font-size: 18px;
}
