.completeRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.completeRegister h1 {
    font-size: 24px;
}

.completeRegister form {
    display: flex;
    flex-direction: column;
    height: 330px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #B09B71;
    width: 400px;
    margin-top: 30px;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.5);
}

.completeRegister form .formControl {
    display: flex;
    flex-direction: column;
}

.completeRegister form .formControl label {
    font-size: 16px;
    color: #383838;
    margin-bottom: 8px;
    font-weight: 500;
}

.completeRegister form .formControl input {
    border: 1px solid #383838;
    height: 25px;
    outline: none;
    padding: 0 5px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.completeRegister form .formActions button {
    padding: 10px 25px;
    border: 1px solid #383838;
    cursor: pointer;
    color: #383838;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 500;
}
