.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.loginPage h1 {
    font-size: 24px;
}

.loginPage form {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #B09B71;
    width: 400px;
    margin-top: 30px;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.5);
}

.loginPage form .formControl {
    display: flex;
    flex-direction: column;
}

.loginPage form .formControl label {
    font-size: 16px;
    color: #383838;
    margin-bottom: 8px;
    font-weight: 500;
}

.loginPage form .formControl input {
    border: 1px solid #383838;
    height: 25px;
    outline: none;
    padding: 0 5px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.loginPage form .formControl input:nth-of-type(2) {
    margin-bottom: -5px;
}

.loginPage form span {
    margin-bottom: 20px;
}

.loginPage form .formActions button {
    padding: 8px 25px;
    cursor: pointer;
    background-color: #383838;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 500;
    width: 100%;
    border: none;
    color: #f7f7f7;
    transition: all ease 1s;
}

.loginPage form .formActions button:first-of-type {
    margin-bottom: 10px;
}

.loginPage form .formActions button:last-of-type {
    background-color: #FF4233;
}

.loginPage form .signup {
    font-size: 12px;
    margin-top: 10px;
}