.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.register form {
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #B09B71;
    width: 400px;
    margin-top: 40px;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.5);
}

.register form .formControl {
    display: flex;
    flex-direction: column;
}

.register form .formControl label {
    font-size: 17px;
    color: #383838;
    margin-bottom: 5px;
    font-weight: 500;
}

.register form .formControl input {
    border: 1px solid #383838;
    height: 25px;
    outline: none;
    padding: 0 5px;
    border-radius: 3px;
}

.register form .formActions button {
    padding: 10px 25px;
    border: 1px solid #383838;
    cursor: pointer;
    color: #383838;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 500;
}

.footerRegister {
    position: absolute;
    bottom: 0;
}