.dots {
    position: absolute;
    display: flex;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    z-index: 99;
    background-color: transparent;
}

.dots .dot {
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    background-color: transparent;
    margin: 5px;
    position: relative;
    border: 1.5px solid #B09B71;
}

.dots .dot .innerDot {
    height: 0.9rem;
    width: 0.9rem;
    z-index: 99;
    display: block;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.dots .dot .activeInnerDot {
    background-color: #B09B71;
}